In [4]:
print('hello Luis!'')

hello Luis!

In [6]:
name = input('what is your name? ')
print('hello', name, 'nice to see you!')

what is your name? luis
hello luis nice to see you!

In [10]:
first = input('first name? ')
middle = input('middle name? ')
last = input('last name? ')
print('Howdy', first, middle, last + '!')

first name? luis
middle name? david
last name? meneses
Howdy luis david meneses!

In [12]:
x = 3
y = 4
z = x + y
z = z + 1
x = y
y = 5
print('x:', x)
print('y:',y)
print('z:',z)

x: 4
y: 5
z: 8

In [43]:
number = input('please enter a number: ')
newNumber = int(number)
print('the square of', number, 'is', str(newNumber*newNumber)+'.')

please enter a number: 89
the square of 89 is 7921.

In [15]:
10 < 5 or 15 != 60

True

In [16]:
10 < 5

False

In [17]:
15 != 60

True

In [18]:
False or True

True

In [26]:
sentence = 'today is Tuesday'
print(len(sentence))
print(sentence[0])
print(sentence[-1])
print(sentence[-5])

print(sentence[0:10:2])

16
t
y
e
tdyi

In [27]:
xmlTag = '<chapter>'
print(xmlTag[1:-1])

chapter

In [32]:
print('begin')
a = -58
if a > 0:
 print('a is  positive')
 print('end')

begin

In [42]:
number = int(input('please enter a number: '))
if number > 0:
    print('it is positive')
elif number <0:
    print('it is negative')
else:
    print('it is zero')

please enter a number: 0
it is zero

In [44]:
5 % 2

1

In [45]:
6 % 2

0

In [ ]:
#write a program that asks the user for a number.
#and prints its corresponding letter grade.
# use the following scale
#hd 85 - 100
#d 75-84
#c 65-74
#p 50 -64
#f anything under 50

In [68]:
myList = [1,2,3,4]
print(myList[0])
print(myList[3])

myList[-1] = 'water'
print(myList)

myList += ['gold']
print(myList)

myList += [['apples','oranges','lemons']]
print(myList)

print(myList[5][1])

#myList2 = list(range(0,100000,100))
#print(myList2)

for item in myList:
    print(item)
    
    
for r in range(0,2):
    print(r, 'Newcastle!')

1
4
[1, 2, 3, 'water']
[1, 2, 3, 'water', 'gold']
[1, 2, 3, 'water', 'gold', ['apples', 'oranges', 'lemons']]
oranges
1
2
3
water
gold
['apples', 'oranges', 'lemons']
0 Newcastle!
1 Newcastle!

In [ ]:
#write a program that asks the user for his name
#print each character in his name in a new line